### Terraform ###
# Local .terraform directories
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

terraform/.terraform.lock.hcl
terraform/.terraform.lock.hcl
terraform-prototype/.terraform.lock.hcl
terraform/.terraform.lock.hcl
